<plugin name='implicit-bpm' version='0.5-SNAPSHOT' grailsVersion='2.2 &gt; *'>
  <author>Ruben Mondejar</author>
  <authorEmail>ruben.mondejar@urv.cat</authorEmail>
  <title>Grails Implicit BPM Plugin</title>
  <description>Implicit BPM Front-End Add-on</description>
  <documentation>http://grails.org/plugin/implicit-bpm</documentation>
  <type>ImplicitBpmGrailsPlugin</type>
  <resources>
    <resource>DefaultImplicitBpmConfig</resource>
    <resource>ImplicitBpmBootStrap</resource>
    <resource>net.sf.bpm.implicit.ProxyController</resource>
    <resource>net.sf.bpm.implicit.Act</resource>
    <resource>net.sf.bpm.implicit.Application</resource>
    <resource>net.sf.bpm.implicit.Behaviour</resource>
    <resource>net.sf.bpm.implicit.Weaver</resource>
    <resource>net.sf.bpm.implicit.Workflow</resource>
    <resource>net.sf.bpm.implicit.InterpreterService</resource>
    <resource>net.sf.bpm.implicit.PlatformService</resource>
    <resource>net.sf.bpm.implicit.ProxyService</resource>
    <resource>net.sf.bpm.implicit.ReflectionService</resource>
    <resource>net.sf.bpm.implicit.WeaverService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='commons-codec' name='commons-codec' version='1.6' />
      <dependency group='org.codehaus.groovy.modules.http-builder' name='http-builder' version='0.7.1' />
      <dependency group='org.hibernate' name='hibernate-core' version='3.6.10.Final' />
    </compile>
    <runtime>
      <dependency group='org.aspectj' name='aspectjrt' version='1.7.4' />
    </runtime>
    <build>
      <dependency group='org.aspectj' name='aspectjtools' version='1.7.4' />
    </build>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>